  body {
    margin: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding:2vw 5vw;
    position: relative;
    overflow: hidden; 
  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
    margin: 0 15px;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  .nav-items li a:hover{
    color: #af7ad5;
  } 
  .nav-items{
    display: block;
  }

  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    background: #fff;
  }
  #menu-appbar ul{
    display: flex;
    flex-direction: column;
    width: 130px;
    color: black;
  }
  #menu-appbar {
    top: 76px;
    right: 50px;
    display: none;
  }
  .profile-icon{
    display: none;
  }


  @media (max-width: 1024px) {
    .nav-items {
      display: none; 
    }
  
    .profile-icon {
      display: block;
    }
    #menu-appbar{
      display: block;
    }
  }